.recommendationCard-container {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.recommendationCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.recommendationCard img {
  width: 100px;
}
